* {
    font-family:  sans-serif;
    background-color: #e7ebfe;
    margin: 0;
    box-sizing: border-box;
  }
  
  .login_div {
    width: 90%;
    max-width: 500px;
    margin: 5% auto;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    margin-top: 6%;
    background: #ffffff;
    box-shadow: 8px 8px 15px rgba(153, 52, 255, 0.2);
  }
  
  .Login {
    font-weight: bold;
    font-size: 330%;
    color: rgb(127, 21, 233);
    margin-bottom: 30px;
    background-color: white;
  }
  
  .lnamediv,
  .lpassdiv {
    border-bottom: 1px solid #ccc;
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    background: #ffffff;
    padding-bottom: 5px;
  }
  .symbol {
    font-size: 130%;
    margin-right: 10px;
    background: #ffffff;
    padding-left: .2%;
    padding-bottom: 1%;
  }
  
  .lock-icon {
    width: 20px;
    height: 20px;
    padding-bottom: 10%;
  }
  
  .lname{
    border: none;
    width: 100%;
    font-size: 120%;
    padding: 8px;
    padding-left: 3.2%;
    background: #ffffff;
    outline: none;
  }
 
  .lpass {
    border: none;
    width: 100%;
    font-size: 120%;
    padding: 8px;
    margin-left: 3%;
    background: #ffffff;
    outline: none;
  }
  
  .lbutton {
    width: 90%;
    font-size: 130%;
    padding: 10px;
    margin: 20px 0;
    color: #fff;
    background-color:  rgb(158, 67, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .lbutton:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
  
  .gdiv {
    border: 1px solid #888;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    cursor: pointer;
    margin-bottom: 4%;
  }

  .gdiv:hover{ 
    transform: scale(1.02);
    transition: 0.3s;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
    background: #ffffff;
  }
  
  .glogin {
    border: none;
    background-color: white;
    font-size: 100%;
    cursor: pointer;
  }

  .lock{
    height:25px;
    background-color: white;
  }

.psignup{
  background-color: white;
  opacity: 0.6;
}

.dsignup{
  background-color: white;
}

.linksignup{
  color:  rgb(158, 67, 255);
  text-decoration: none;
  background-color: white;
  font-size: 111%;
}